<header th:fragment="headerAccount">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{/account}">Smart Manage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 d-flex">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/account}">一覧</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/account/insert}">支出追加</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/account/insertIncome}">収入追加</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/account/search}">支出検索</a></li>
                    <!-- ユーザーメニュー -->
                    <li class="nav-item user-menu">
                        <button id="userIcon" class="user-icon" onclick="toggleMenu()">
                            <i class="fa-solid fa-user"></i>
                        </button>
                        <div id="menu" class="menu hidden">
                            <a href="/menu/profile">プロフィール</a>
                            <a href="/menu/settings">設定</a>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit">ログアウト</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

