<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/menu.css}">
        <title>Smart Manage</title>
    </head>    
    <body>
        <form method="post" th:action="@{/profile/update}" th:object="${profile}">
            <div th:replace="~{block/header::headerAccount}"></div>
        <section class="profile_icon">
            <div class="icon_picture">
                <i class="fa-solid fa-user"></i>
            </div>
            <p>アイコンを編集する</p>
        </section>

        <section class="character">
            <div class="profile">
                <div class="profile_title">基本情報</div>
                <div class="username">
                    <label>ユーザー名：</label>
                    <input type="text" th:field="*{username}" /><br/>
                </div>
                <div class="userage">
                    <label>生年月日：</label>
                    <input type="number" name="birthYear" placeholder="年" min="1900" max="2100" required />
                    <input type="number" name="birthMonth" placeholder="月" min="1" max="12" required />
                    <input type="number" name="birthDay" placeholder="日" min="1" max="31" required />
                </div>                
                <div class="usergender">
                    <label>性別：</label>
                    <input type="radio" th:field="*{usergender}" value="男性" />男性
                    <input type="radio" th:field="*{usergender}" value="女性" />女性
                    <input type="radio" th:field="*{usergender}" value="その他" />その他
                </div>                
            </div>
        </section>

        <section class="goal">
            <div class="profile">
                <div class="profile_title">目標宣言</div>
                <div class="goal_income">
                    <label>目標貯金額：</label>
                    <input type="text" th:field="*{targetSaving}" />
                </div>
                <div class="goal_month">
                    <label>月の支出目安：</label>
                    <input type="text" th:field="*{targetExpensing}" />
                </div>
                <div class="goal_things">
                    <label>買いたいもの：</label>
                    <input type="text" th:field="*{targetThings}" />
                </div>
                <div class="goal_place">
                    <label>行きたい場所；</label>
                    <input type="text" th:field="*{targetPlace}" />
                </div>
                <div class="goal_date">
                    <label>目標達成予定日：</label>
                    <input type="text" th:field="*{targetDate}" />
                </div>
            </div>
        </section>

        <div class="form_button_area">
            <button type="submit" class="btn btn-primary">保存する</button>
        </div>

        </form>
    </body>

</html>