<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<title>スマートマネージ</title>
</head>
<body>
	<div th:replace="~{block/header::headerAccount}"></div>

	<section class="list">
		<h1 class="main_title">支出一覧画面</h1>
		<div class="line"></div>
		<table class="table table-striped">
			<tr>
				<th>No</th>
				<th>日時</th>
				<th>カテゴリー</th>
				<th>メモ</th>
				<th>金額</th>
				<th>更新・削除</th>
			</tr>
	
			<tr th:each="account,iterStat : ${list}">
				<td th:text="${iterStat.index + 1}"></td>
				<td th:text="${account.date}"></td>
				<td th:switch="${account.type}">
					<span th:case="1">食費</span>
					<span th:case="2">日用品</span>
					<span th:case="3">交通費</span>
					<span th:case="4">趣味</span>
					<span th:case="5">遊び代</span>
					<span th:case="6">勉強</span>
					<span th:case="7">ファッション</span>
					<span th:case="8">美容</span>
					<span th:case="*">その他</span>
				</td>			
				<td th:text="${account.item}"></td>
				<td th:text="${account.price} + '円'"></td>
				<td><a th:href="@{/account/updateInput(id=${account.id})}"><input type="button" value="更新"></a>
					<a th:href="@{/account/deleteConfirm(id=${account.id})}"><input type="button" value="削除"></a>
				</td>
			</tr>
			
		</table>
	
		<!--<table class="table table-striped">
			<tr>
				<th>合計金額</th>
				<td th:text="${totalPrice} + '円'"></td>
			</tr>
		</table>-->
	</section>

	<section class="add">
		
	</section>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	
</body>
</html>
