<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Smart Manage</title>
</head>
<body>
	<div th:replace="~{block/header::headerAccount}"></div>

		<div class="container">

			<div class="summary-chart-wrapper">
				<div class="summary">
					<div class="summary-item">
						<h2>総収入</h2>
						<p><span th:text="${totalIncome}"></span> 円</p>
					</div>
					<div class="summary-item">
						<h2>総支出</h2>
						<p><span th:text="${totalPrice}"></span> 円</p>
					</div>
					<div class="summary-item balance">
						<h2>残額</h2>
						<p><span th:text="${balance}"></span> 円</p>
					</div>
				</div>

				<section class="chart">
					<canvas id="expenseChart"></canvas>
					<script th:inline="javascript">
						var expenseData = /*[[${expenseData}]]*/ {};
						var categoryColors = {
							"食費": "#ff6384",
							"日用品": "#36a2eb",
							"交通費": "#ffce56",
							"趣味": "#ff9f40",
							"遊び代": "#4bc0c0",
							"勉強": "#9966ff",
							"ファッション": "#ffcc99",
							"美容": "#c9cbcf",
							"その他": "#8e8e8e"
						};
						var labels = Object.keys(expenseData);
						var data = Object.values(expenseData);
						var colors = labels.map(label => categoryColors[label] || "#000000");
						new Chart(document.getElementById("expenseChart"), {
							type: "pie",
							data: {
								labels: labels,
								datasets: [{ data: data, backgroundColor: colors }]
							}
						});
					</script>
				</section>
			</div>
		
			<div class="icon_add">
				<a href="/account/insert" class="write-add expense">
					<i class="fa-solid fa-minus"></i><span></span> 
				</a>
				<a href="/account/insertIncome" class="write-add income">
					<i class="fa-solid fa-plus"></i><span></span> 
				</a>
			</div>
		</div>

	<script>
		function sliceMaxlength(elem,maxlength){
            elem.value= elem.value.slice(0,maxlength);
        }
		function confirmDelete(url) {
		if (confirm("本当に削除しますか？")) {
			window.location.href = url; // 削除処理を実行
		}
		}
	</script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
</body>
</html>