<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>スマートマネージ</title>
</head>
<body>
<div th:replace="~{block/header::headerAccount}"></div>

<div class="container">
    <section class="list">
        <h1 class="main_title">家計簿検索</h1>
        <p>合計金額: <span th:text="${totalPrice} + '円'"></span></p>

    <table class="table">
        <tr>
            <th>日時</th>
            <th>カテゴリー</th>
            <th>メモ</th>
            <th>金額</th>
        </tr>
        <tr th:each="account : ${list}">
            <td th:text="${account.date}"></td>
            <td th:switch="${account.type}">
                <span th:case="1">食費</span>
                <span th:case="2">日用品</span>
                <span th:case="3">交通費</span>
                <span th:case="4">趣味</span>
                <span th:case="5">遊び代</span>
                <span th:case="6">勉強</span>
                <span th:case="7">ファッション</span>
                <span th:case="8">美容</span>
                <span th:case="*">その他</span>
            </td>
            <td th:text="${account.item}"></td>
            <td th:text="${account.price} + '円'"></td>
        </tr>
    </table>
    </section>

    <section class="search">
        <h1 class="search_title">検索</h1>
        <form th:action="@{/account/search}" method="get">
            <div class="year">
                <div class="flex-container">
                    <label>年:</label>
                    <input type="number" name="year" min="2000" max="2100" placeholder="2025">
                </div>
            </div>
            
            <div class="month">
                <div class="flex-container">
                    <label>月:</label>
                    <input type="number" name="month" min="1" max="12" placeholder="3">
                </div>
            </div>
            
            <div class="type">
                <div class="flex-container">
                    <label>カテゴリー:</label>
                    <select name="type">
                        <option value="">すべて</option>
                        <option value="1">食費</option>
                        <option value="2">日用品</option>
                        <option value="3">交通費</option>
                        <option value="4">趣味</option>
                        <option value="5">遊び代</option>
                        <option value="6">勉強</option>
                        <option value="7">ファッション</option>
                        <option value="8">美容</option>
                        <option value="*">その他</option>
                    </select>
                </div>
            </div>
    
            <div class="search_button">
                <input class="button" type="submit" value="検索">
            </div>
        </form>
    </section>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
