.container {
    display: flex;
    gap: 20px; /* 間隔を空ける */
}

section.list {
    flex: 2; /* 幅の比率（大きめ） */
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 600px;
}

section.add {
    flex: 1; /* 幅の比率（小さめ） */
    background-color: #d9d9d9;
    width: 400px;
    height: 350px;
    border-radius:30px;
    margin-top: 5%;
}


.date,.type,.item,.price,.month,.year{
    display: grid;
    justify-items:left;
    padding-left: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

.flex-container{
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.flex-container label{
    white-space: nowrap;
}

.add_space{
    padding-top:10%;
}

section.search{
    flex: 1; /* 幅の比率（小さめ） */
    background-color: #d9d9d9;
    width: 400px;
    height: 300px;
    border-radius:30px;
    margin-top: 5%;
}