.container {
    display: flex;
    gap: 20px; /* 間隔を空ける */
}

section.list {
    flex: 2; /* 幅の比率（大きめ） */
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 600px;
}

section.chart {
    flex: 1; /* 幅の比率（小さめ） */
    background-color: #f2eeee;
    width: 400px;
    height: 400px;
    border-radius:30px;
    margin-top: 5%;
}

/*
section.add {
    flex: 1; 
    background-color: #d9d9d9;
    width: 400px;
    height: 350px;
    border-radius:30px;
    margin-top: 5%;
}*/



.date,.type,.item,.price,.month,.year{
    display: grid;
    justify-items:left;
    padding-left: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left:30%;
    font-size: 15px;
}

.flex-container{
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.flex-container label{
    white-space: nowrap;
}

.add_space{
    padding-top:10%;
}

section.search{
    flex: 1; /* 幅の比率（小さめ） */
    background-color: rgb(222, 221, 221);
    width: 400px;
    height: 300px;
    border-radius:30px;
    margin-top: 5%;
}

.icon_add {
    position: fixed;
    bottom: 20px;  /* 🔹 画面下から20px */
    right: 20px;   /* 🔹 画面右から20px */
    z-index: 1000; /* 🔹 他の要素の上に表示 */
}

.write-add {
    background-color: #60b2de; 
    color: white;  
    font-size: 30px;  
    padding: 15px;  
    border-radius: 50%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    text-decoration: none; 
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 65px; 
    height: 65px;
}

.write-add:hover {
    background-color: #f8cc64;
    color: #ffffff; 
}


.summary {
    display: flex;
    justify-content: center; /* 中央揃え */
    gap: 15px; /* ボックス間のスペース */
    margin-top: 30px; /* 上の余白 */
}

.summary-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 100px;
    font-size: 20px;
}

h2{
    font-size: 15px;
}

.balance {
    background-color: #e3f2fd;
}
