section.profile_icon {
    position: absolute;
    background-color: #f2eeee;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    top: 20%;
    left: 12%;
}

section.graph {
    position: absolute;
    background-color: #f2eeee;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    top: 20%;
    left: 40%; 
}

section.character {
    position: absolute;
    background-color: #f2eeee;
    border-radius: 30px;
    top: 58%;
    left: 12%;
    width: 380px;
    height: auto;
}

section.goal {
    position: absolute;
    background-color: #f2eeee;
    border-radius: 30px;
    top: 58%;
    right: 12%;
    width: 500px;
    height: auto;
}

.profile {
    padding: 20px;
}

.profile_title {
    color: #60b2de;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}

.profile_space div {
    margin: 10px 0; /* 各項目の上下に余白 */
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 16px;
}

.icon_picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 39px;
}
