html{
    background-color:#A2D2EC;
}

section.login{
    background-color: white;
    border-radius: 30px;
    position: absolute;
    justify-content: center;
    top:20%;
}

.register_title{
    color:#ffffff;
}