body {
    margin-top: 70px;
}

h1, h2, form, #top {
	text-align: center;
}

h1 {
	margin-top: 30px;
}

h3 {
	margin-top: 20px;
	text-align: center;
}

table {
	margin-top: 30px;
}

input[type="number"] {
	width: 100px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.navbar{
    background-color: #60b2de !important;
}

.navbar-brand{
    font-size:30px;
    font-weight: bold;
}

.navbar ul li {
    margin-left: 20px; /* メニュー項目間の間隔 */
}

.line{
	border:solid
	#76bde3 1px;
}


.main_title{
    color: #60b2de;
    font-size:25px;
    justify-items: left;
    display:grid;
}

.write_title{
    color: #60b2de;
    font-size:25px;
    justify-items: center;
    display:grid;
}

.add_title,.search_title{
    color: #60b2de;
    font-size:25px;
    justify-items: center;
    display:grid;
    padding-top:10px;
}

.search_button,.login_button,.signup_button{
    display: grid;
    justify-items:center;
    padding-top: 5%;
}



.user-menu{
    position: relative;
    margin-left: 15px;
}

.user-icon {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-top:8px;
    padding-right:15px;
    font-size: 23px;
}

.menu{
    position:absolute;
    top:40px;
    right:0;
    display: none;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    min-width: 150px;
}

.menu a, .menu form button {
    display: block;
    padding: 8px 12px;
    text-align: left;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
}

.menu a:hover, .menu form button:hover {
    background: #f0f0f0;
}


.button_list{
    background-color: #60b2de;
    border: none;
    color: white;
}

.button_list:hover{
    background-color: #f8cc64;
}
.button{
    background-color: #60b2de;
    font-size: 15px;
    border: none;
    color: white;
}

.button:hover{
    background-color: #f8cc64;
}