<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/registration.css}" rel="stylesheet"></link>
    <title>新規登録画面</title>
</head>
<body>
    <div class="container">   
        <h1 class="smart_title">Smart Manage</h1> 
        <section class="signup">
            <!-- エラーメッセージ -->
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>

            <div class="account">
                <form th:action="@{/signup}" method="post">
                    <div class="name">
                        <div class="flex-container">
                            <label>アカウント名:</label>
                            <input type="text" name="username" required>
                        </div>
                    </div>
                    <div class="password">
                        <div class="flex-container">
                            <label>パスワード:</label>
                            <input type="password" name="password" required>
                        </div>
                    </div>
                    <div class="password_again">
                        <div class="flex-container">
                            <label>パスワード(確認):</label>
                            <input type="password" name="confirmPassword" required>
                        </div>
                    </div>
                    <div class="signup_button">
                        <button type="submit">登録</button>
                    </div>
                </form>
            </div>
    </section>

    <div class="login_next">
        <p>ログインは<a th:href="@{/login}">こちら</a></p>
    </div>
    </div>
</body>
</html>
