<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/registration.css}" rel="stylesheet"></link>
    <title>新規登録画面</title>
</head>
<body>
    <h1 class="register_title">新規登録</h1>
    
    <section class="signup">
        <!-- エラーメッセージ -->
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/signup}" method="post">
            <div>
                <label>アカウント名:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label>パスワード:</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label>パスワード(確認):</label>
                <input type="password" name="confirmPassword" required>
            </div>
            <button type="submit">登録</button>
        </form>
    </section>

    <p>すでにアカウントをお持ちですか？ <a th:href="@{/login}">ログイン画面</a></p>
</body>
</html>
